.login-page{

min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:
linear-gradient(135deg,#6366f1,#8b5cf6);

padding:30px;

}



.login-left{

color:white;
width:50%;
text-align:center;

}


.login-left h1{

font-size:60px;
font-weight:900;

}


.login-left h1 span{

color:#ddd6fe;

}


.login-left p{

font-size:22px;
margin-top:20px;

}


.login-animation{

font-size:70px;
margin-top:40px;

}




.login-card{

background:white;
width:420px;
padding:45px;
border-radius:30px;

box-shadow:
0 25px 60px rgba(0,0,0,.25);

}



.login-card h2{

font-size:32px;
color:#111827;

}


.login-card p{

color:#6b7280;

margin-bottom:25px;

}



.login-card input{

width:100%;
padding:16px;
margin-bottom:18px;

border-radius:15px;

border:2px solid #eee;

outline:none;

font-size:16px;

}


.login-card input:focus{

border-color:#6366f1;

}




.login-card button{

width:100%;

padding:16px;

border-radius:15px;

background:
linear-gradient(135deg,#6366f1,#8b5cf6);

color:white;

font-size:18px;

font-weight:700;

transition:.3s;

}



.login-card button:hover{

transform:translateY(-3px);

}



.login-error{

background:#fee2e2;

color:#dc2626;

padding:12px;

border-radius:10px;

margin-bottom:20px;

}



.signup-text{

text-align:center;

margin-top:25px;

}


.signup-text a{

color:#6366f1;

font-weight:700;

margin-left:5px;

}



@media(max-width:900px){

.login-page{

flex-direction:column;

}


.login-left{

width:100%;

}


.login-left h1{

font-size:42px;

}


.login-card{

width:100%;
max-width:420px;

}

}

