.register-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
135deg,
#6366f1,
#8b5cf6
);

padding:30px;

}



.register-card{

width:430px;

background:white;

padding:45px;

border-radius:30px;

box-shadow:
0 25px 60px rgba(0,0,0,.25);

animation:slide .5s ease;

}


@keyframes slide{

from{

transform:translateY(40px);

opacity:0;

}

to{

transform:translateY(0);

opacity:1;

}

}



.register-card h1{

font-size:34px;

color:#111827;

margin-bottom:10px;

}



.register-card p{

color:#6b7280;

margin-bottom:25px;

}




.register-card input{

width:100%;

padding:16px;

margin-bottom:18px;

border-radius:15px;

border:2px solid #e5e7eb;

outline:none;

font-size:16px;

}



.register-card input:focus{

border-color:#6366f1;

}




.register-card button{

width:100%;

padding:16px;

border-radius:15px;

border:none;

background:

linear-gradient(
135deg,
#6366f1,
#8b5cf6
);

color:white;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.3s;

}



.register-card button:hover{

transform:translateY(-3px);

box-shadow:
0 15px 30px rgba(99,102,241,.35);

}




.register-error{

background:#fee2e2;

color:#dc2626;

padding:12px;

border-radius:10px;

margin-bottom:20px;

}




.login-link{

text-align:center;

margin-top:25px;

}



.login-link a{

color:#6366f1;

font-weight:700;

margin-left:5px;

}



@media(max-width:500px){

.register-card{

width:100%;

padding:30px;

}

}